
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Oldenburg&display=swap');
  
body {
    background-color: rgb(209, 150, 13);}

html, body {
    margin: 0;
    padding: 0;}

header {
    text-align: center;
    background-color: bisque;
    padding: 20px;}

header .pfp {
    width: 450px;
    height: 200px; 
    border: 10px solid #33120c; 
    border-radius: 50%;
    background-image: url(./../img/spirt_promo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto}

header, h1 {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    color: #33120c;}